{
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "cursorOffset": -1,
    "printWidth": 80
}
